@model IEnumerable<CP2.Models.Produto>

@{
    ViewData["Title"] = "Listagem";
}

<h1>Listagem</h1>

<p>
    <a asp-action="Create"class="btn btn-primary btn-sm">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.local)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.local)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.url)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ProdutoId" class="btn btn-secondary btn-sm">Editar</a><br>
                    <br><a asp-action="Details" asp-route-id="@item.ProdutoId" class="btn btn-secondary btn-sm">Detalhes</a><br>
                    <br><a asp-action="Delete" asp-route-id="@item.ProdutoId" class="btn btn-secondary btn-sm">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
